@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:900');

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 36px;
    color: black;
}

label {
    color: #EE382A;
    font-size: 18px;
}

.form-control {
    color: black;
    border: 1px solid black;
}

.btn {
    background-color: #EE382A;
    color: white;
    border: none;
    height: 46px;
    width: 170px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 28px;
    color: black;
}